* {
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
    font-family: 'Bricolage Grotesque', 'Arial';
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    -drag: none;
    -webkit-user-drag: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../img/lockscreen.png');
    background-size: cover;
    backdrop-filter: blur(10px);
}

.lockscreen-container {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    gap: 40vh;
}

.lockscreen-greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lockscreen-greeting #lockscreen-time {
    font-size: 5rem;
    color: white;
}

.lockscreen-greeting #lockscreen-greet {
    font-size: 1.8rem;
}

.lockscreen-passcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.lockscreen-passcode input {
    border: 1px solid black;
    padding: 0.6rem 0.8rem;
    outline: none;
    background: rgba(235, 235, 235, 0.4);
    box-shadow: 0px 2px rgba(0, 0, 255, 0.596);
    border-radius: 2px;
}

.passcode-error {
    box-shadow: 0px 2px rgba(255, 0, 0, 0.596) !important;
}

.passcode-correct {
    box-shadow: 0px 2px rgba(0, 255, 0, 0.596) !important;
}

.system-ui {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#infobar, #appdisplay, #taskbar {
    width: 100%;
}

#infobar {
    background: rgb(81, 81, 81);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    color: white;
}

#taskbar {
    background: rgb(123, 41, 255);
    width: 400px;
    flex: 2;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 2px white;
    transform: translateY(-8px);
    transition: all 0.2s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

#taskbar:hover {
    box-shadow: none;
}

#appdisplay {
    background: none;
    flex: 20;
    position: relative;
}

#infobar p {
    padding: 4px;
}

.app {
    display: inline-block;
    height: 40px;
    width: 40px;
    transition: all 0.1s ease;
    cursor: pointer;
}

.app:hover {
    transform: translateY(-5px);
}

.app img {
    height: 40px;
    border-radius: 6px;
}

.window {
    color: white;
    background: rgba(75, 9, 85, 0.8);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 10px;
}

@keyframes windowUp {
    from {top: 70%;}
    to {top: 50%;}
}

.window-animation {
    animation: windowUp 0.5s ease-out forwards;
}

.window-control {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
    margin-bottom: 8px;
    backdrop-filter: blur(10px);
}

.window-control button {
    background: red;
    border: none;
    padding: 3px;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.window-control button:hover {
    background: darkred;
}

.window-content {
    width: 100%;
}

.window-content button, .windowbutton {
    color: black !important;
    width: 100%;
    border: none;
    background: greenyellow;
    border-radius: 6px;
    padding: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.window-content button:hover, .windowbutton:hover {
    background: green;
}

.note-textarea {
    width: 100%;
    height: 300px;
    resize: none;
    border: none;
    color: white;
    margin-top: 4px;
    background: rgba(75, 9, 85, 0.4);
}

.terminal-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

.terminal-line input {
    color: white;
    width: 60%;
    border: none;
    background: none;
}

.terminal-content {
    overflow: auto;
    max-height: 300px;
}

.pomodoro-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pomodoro-phase {
    font-size: 21px;
}

.pomodoro-time {
    font-size: 42px;
}